@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* This may help prevent horizontal scrolling */
}


@layer utilities {

  .bg-gradient-to-br {
    background: linear-gradient(to bottom right, #6b46c1, #1e3a8a);
  }

  @media (min-width: 768px) {
    .glassy-background {
      text-align: left;
    }

  }
}


@layer components {
  .text-quantum {
    background: linear-gradient(to right, #6f00ff, #0099ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* //* standard property for compatibility */
  }
  .shadow-quantum {
    box-shadow: 0 12px 16px rgba(0, 140, 255, 0.274), 0 6px 12px rgba(255, 90, 0, 0.15);
  }
  .border-quantum {
    border-image: linear-gradient(to right, #6f00ff, #0099ff);
    border-image-slice: 1;
  }
}


/* sliding animates in hero section */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    visibility: visible;
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    visibility: visible;
  }

  to {
    transform: translateX(0);
  }
}

.animate__slideInLeft {
  animation: slideInLeft 0.8s ease-out;
}

.animate__slideInRight {
  animation: slideInRight 0.8s ease-out;
}


.card a {
  margin-top: auto; 
}
