@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

.skeleton-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.glow {
  animation: glowing 1.5s infinite alternate;
}

@keyframes glowing {
  from {
    background-color: #919191;
  }
  to {
    background-color: #2c2c2c; 
  }
}







* {
  scrollbar-width: thin;
  scrollbar-color: rgb(23, 126, 252) transparent;
}

@layer components {
  .text-quantum {
    background: linear-gradient(to right, #6f00ff, #0099ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* //* standard property for compatibility */
  }
  .border-quantum {
    border-image: linear-gradient(to right, #6f00ff, #0099ff);
    border-image-slice: 1;
  }
}


/* sliding animates in hero section */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    visibility: visible;
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    visibility: visible;
  }

  to {
    transform: translateX(0);
  }
}

.animate__slideInLeft {
  animation: slideInLeft 0.8s ease-out;
}

.animate__slideInRight {
  animation: slideInRight 0.8s ease-out;
}


.card a {
  margin-top: auto; 
}
